{% block content %}
{% include 'Head.html' %}
<section  class="sub_page">
    <div class="hero_area">
        {% include 'HeroImg.html' %}
        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                {% include 'Navbar.html' %}
            </div>
        </header>
        <!-- end header section -->
    </div>
    <div style="height: 90vh;" class="container d-flex justify-content-center align-items-center">
        <div class="row mt-5 mb-5">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img src={{menu.image}} alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>{{menu.name}}</h3>
                    <p class="single-product-pricing">${{menu.price}}</p>
                    <p>{{menu.detail}}</p>
                    <div class="my-4 ">
                        <div class="btn btn-primary ">
                            <a class="text-light" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                            </a>
                            <a href="" class="text-light">
                                Order Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'Footer.html' %}
{% include 'Script.html' %}
{% endblock %}